<section class="icons">
 <div class="container">
  <div class="row text-center">
   <div class="col-md-4">
    <div class="icon gradient mb-4">
     <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-layers"
     >
      <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
      <polyline points="2 17 12 22 22 17"></polyline>
      <polyline points="2 12 12 17 22 12"></polyline>
     </svg>
    </div>
    <h3>Construido para desarrolladores</h3>
    <p>
     Nuestro sistema de construcción personalizable, basado en bloques, hace que
     la creación de su su próximo proyecto de forma rápida y sencilla.
    </p>
   </div>
   <div class="col-md-4">
    <div class="icon gradient mb-4">
     <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-smartphone"
     >
      <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
      <line x1="12" y1="18" x2="12.01" y2="18"></line>
     </svg>
    </div>
    <h3>Diseño moderno y adaptable</h3>
    <p class="mb-0">
     Con componentes cuidadosamente elaborados y orientados a la movilidad, su
     producto final funcionará a la perfección en cualquier dispositivo.
    </p>
   </div>
   <div class="col-md-4">
    <div class="icon gradient mb-4">
     <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-code"
     >
      <polyline points="16 18 22 12 16 6"></polyline>
      <polyline points="8 6 2 12 8 18"></polyline>
     </svg>
    </div>
    <h3>Documentación completa</h3>
    <p class="mb-0">
     Todos los diseños, secciones de páginas, componentes y utilidades están
     están completamente cubiertos en la documentación de este producto.
    </p>
   </div>
  </div>
 </div>
</section>
